.ldbrd__container {
  height: 300px;
  width: 250px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.66) 0 5px 10px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.ldbrd__scores {
  list-style: none;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin: 2px;
}
