.pre__card {
  height: 540px;
  width: 1000px;
  background-color: rgba(255, 255, 255, 0.801);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pre__logo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 160px;
  width: 160px;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.66) 0 5px 10px 0, inset #333 0 0 0 2px,
    inset rgba(255, 255, 255, 0.5) 0 0 0 4px;
  margin: 10px;
  border-radius: 50%;
  margin-bottom: 25px;
  background-size: cover;
}

.pre__img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
}

.pre__title {
  margin-bottom: 110px;
  font-size: 50px;
}

.pre__btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  height: 80px;
  width: 150px;
  font-size: 20px;
  border-radius: 30px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  border: none;
  margin: 20px;
  box-shadow: rgba(0, 0, 0, 0.66) 0 5px 10px 0;
  transition: all 0.3s ease;
  cursor: pointer;
}

.button:hover {
  transform: scale(1.07);
  box-shadow: rgba(0, 0, 0, 0.66) 0 6px 20px 0;
}

@media (max-width: 1200px) {
  .pre__card {
    height: 540px;
    width: 900px;
  }
}

@media (max-width: 900px) {
  .pre__card {
    height: 540px;
    width: 650px;
    border-radius: 30px;
  }
}

@media (max-width: 425px) {
  .pre__card {
    height: 440px;
    width: 330px;
    border-radius: 30px;
  }

  .pre__logo {
    height: 100px;
    width: 100px;
    margin-bottom: 40px;
  }

  .pre__img {
    height: 90px;
    width: 90px;
    border-radius: 50%;
  }

  .pre__title {
    margin-bottom: 30px;
    font-size: 38px;
  }

  .pre__btn-container {
    flex-direction: column;
  }

  .button {
    height: 50px;
    width: 100px;
    font-size: 16px;
    border-radius: 15px;
    padding: 5px;
    margin: 10px;
  }
}

@media (max-width: 320px) {
  .pre__card {
    height: 400px;
    width: 280px;
    border-radius: 30px;
  }

  .pre__logo {
    height: 100px;
    width: 100px;
    margin-bottom: 40px;
  }

  .pre__img {
    height: 90px;
    width: 90px;
    border-radius: 50%;
  }

  .pre__title {
    margin-bottom: 30px;
    font-size: 38px;
  }

  .pre__btn-container {
    flex-direction: column;
  }

  .button {
    height: 50px;
    width: 100px;
    font-size: 16px;
    border-radius: 15px;
    padding: 5px;
    margin: 10px;
  }
}
